blinker
click
colorama
filelock
Flask
Flask-Cors
fsspec
gunicorn
itsdangerous
Jinja2
MarkupSafe
mpmath
networkx
numpy
opencv-python-headless
pillow
setuptools
sympy
torch --extra-index-url https://download.pytorch.org/whl/cpu
torchvision --extra-index-url https://download.pytorch.org/whl/cpu
typing_extensions
Werkzeug
requests
